.popup__text {
  width: 358px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 0 36px;
}

@media screen and (max-width: 424px) {
  .popup__text {
    margin: 0;
    text-align: center;
    width: 90%;
  }
}
