.register__input {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  display: block;
  border: none;
  border-bottom: 2px solid #ccc;
  /* width: 358px; */
  width: 100%;
  margin: 50px auto 0 auto;
  outline: none;
  padding: 0 0 13px 0;
  background-color: #000;
}

.register__input::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ccc;
}
