.profile__name {
  font-weight: 500;
  font-size: 42px;
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  word-wrap: break-word;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 1023px) {
  .profile__name {
    font-size: 27px;
    min-width: 201px;
  }
}

@media screen and (max-width: 424px) {
  .profile__name {
    max-width: 250px;
  }
}
