.profile__job {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  word-wrap: break-word;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 1023px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto 36px auto;
  }
}

@media screen and (max-width: 424px) {
  .profile__job {
    max-width: 250px;
  }
}
