.header__link {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
  margin-top: 51px;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.6;
}
