.elements {
  width: 68.91%;
  margin: 26px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1279px) {
  .elements {
    width: 88%;
  }
}

@media screen and (max-width: 1023px) {
  .elements {
    width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .elements {
    width: 282px;
    margin: 16px auto 0 auto;
    flex-direction: column;
  }
}

