.profile__avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  object-fit: cover;
  /* чтобы текст атрибута alt был виден */
  color: white;
}

.profile__avatar-image:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1023px) {
  .profile__avatar-image {
    margin-bottom: 14px;
  }
}
