@import url(./__form/register__form.css);
@import url(./__input/register__input.css);
@import url(./__link/register__link.css);
@import url(./__submit-button/register__submit-button.css);
@import url(./__text/register__text.css);
@import url(./__title/register__title.css);
@import url(./__link-container/register__link-container.css);

.register {
  width: 358px;
  margin: 0 auto;
}
