.header__email {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 51px 24px 0 0;
}

@media screen and (max-width: 767px) {
  .header__email {
    display: none;
  }
}
