@import url(./__img/element__img.css);
@import url(./__delete-button/element__delete-button.css);
@import url(./__delete-button/_disactive/element__delete-button_disactive.css);
@import url(./__info/element__info.css);
@import url(./__name/element__name.css);
@import url(./__like-button/element__like-button.css);
@import url(./__like-button/_active/element__like-button_active.css);
@import url(./__like-counter/element__like-counter.css);

.element {
  margin: 21px 18px 0 0;
  border-radius: 10px;
  width: 282px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element:nth-of-type(3n) {
  margin: 21px 0 0 0;
}

@media screen and (max-width: 1279px) {
  .element {
    margin: 20px auto 0 auto;
  }

  .element:nth-of-type(3n) {
    margin: 20px auto 0 auto;
  }
}
