.popup__form {
  background: #FFFFFF;
  width: 430px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 0 0 0;
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 505px) {
  .popup__form {
    width: 85%;
    margin: 0 auto;
  }
}
