.register__submit-button {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000;
  /* width: 358px; */
  width: 100%;
  height: 50px;
  background: #fff;
  border-radius: 2px;
  display: block;
  margin: 150px auto 0 auto;
  outline: none;
}

.register__submit-button:hover {
  background: rgba(256, 256, 256, .85);
}

.register__submit-button_disabled {
  color: #c5c5c5;
  background: #f6f6f6;
  border: 1px solid #c5c5c5;
  pointer-events: none;
  transition: none;
}
