@import url(./__form/popup__form.css);
@import url(./__text/popup__text.css);
@import url(./__text/_type_tooltip/popup__text_type_tooltip.css);
@import url(./__input/popup__input.css);
@import url(./__input/_error/popup__input_error_active.css);
@import url(./__input/_type/popup__input_type_error.css);
@import url(./__button/popup__button.css);
@import url(./__button/_disabled/popup__button_inactive.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__close-button/_image-container/popup__close-button_image-container.css);
@import url(./__image/popup__image.css);
@import url(./__image-container/popup__image-container.css);
@import url(./__image-name/popup__image-name.css);
@import url(./_opened/popup_opened.css);
@import url(./__icon/popup__icon.css);

.popup {
  position: fixed;
  top: 0px;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0, .5);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.6s, opacity 0.6s
}
